<!DOCTYPE html>
<body style="background-color: rgb(50,120,150);">
<h1 style="text-align:center; font-family: helvetica; color: rgb(200,100,0)">
  <i>About</i>
</h1>
<hr>
<%= link_to 'Home', root_path %>
<%= link_to 'About', about_path %>
<hr>
<p>About the blog</p>
</body>
