<!DOCTYPE html>
<body style="background-color: rgb(50,120,150);">
<link rel="shortcut icon" href="/home/ilian/Downloads" />
<h1 style="text-align:center; font-family: helvetica; color: rgb(200,100,0)">
  <i>Home page</i>
</h1>
<hr>
<%= link_to 'Home', root_path %>
<%= link_to 'About', about_path %>
<hr>
<img align="right" src="http://www.hotel-r.net/im/hotel/ca/mountain-view-23.jpg" alt="Photo of a mountain" style="width:256px;height:256px">
<p>Welcome to the home page of Alpha Blog. This is a test change</p>
</body>
