$navbar-default-bg: #264eef;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #adadad;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('7583216174_23a2a2a7f7_b.jpg');
  background-size: cover;
  height: 280px;
}

.jumbotron h1{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge{
  font-size: 1.7em;
}

.article-actions{
  border-top: 1px solid #7a7a7a;
  padding-top: 5px;
}

.description{
  margin-top: 0;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #7a7a7a;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float:left;
  margin-left: 15px;
}
